<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.news.newsnotification" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application>

    <service android:name=".firebaseServices.FirebaseTokenService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>

    <service android:name=".firebaseServices.NewsFirebaseMessagingService"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
    </service>
        <receiver android:name=".NotificationBroadcastManager"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.androidtest.BroadcastReceiver" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
